spring:
  datasource:
    url: jdbc:mysql://localhost:3306/banking_db
    username: admin
    password: admin1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  thymeleaf:
    cache: false

server:

  port: 8080
