spring:
  datasource:
    url: db-banking.cm1eeakwaq5n.us-east-1.rds.amazonaws.com
    username: admin
    password: admin1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  thymeleaf:
    cache: false

server:

  port: 8080

